<div class="container">
    <div class="row">
        <div class="col-10">
            <h1>Register</h1>
        </div>

    </div>
    <!--div>
        <div class="col-10 col-md-6">
            <form method="post" action="http://localhost:4000/users" >
                <input type="hidden" value="<%= @token %>" name="_csrf_token"/>
                <div class="form-group">
                    <label for="exampleInputEmail1">Fullname</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your fullname" name="name">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
    </div-->
   <div>
        <%= form_for @changeset, Routes.user_path(@conn, :create) ,  fn f -> %>
            <div class="form-group">
                <%= label f, :name, class: "control-label" %>
                <%= text_input f, :name, class: "form-control" %>
                <%= error_tag f, :name %>
            </div>

            <div class="form-group">
                <%= label f, :email, class: "control-label" %>
                <%= email_input f, :email, class: "form-control" %>
                <%= error_tag f, :email %>
            </div>

            <div class="form-group">
                <%= label f, :password, class: "control-label" %>
                <%= password_input f, :password, class: "form-control" %>
                <%= error_tag f, :password %>
            </div>

            <div class="form-group">
                <%= submit "Register", class: "btn btn-primary" %>
            </div>
        <% end %>
   </div>
</div>